header ul{
    background-color: rgb(10, 120, 216);
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}

header ul li{
    float:left;
}
header ul li a{
    color:white;
    text-decoration-line:none;
    padding: 12px;
    display: block;

}
header ul li a:hover{
    background-color: rgb(238, 151, 44);
}

body{
    margin:0%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/550/504/non_2x/cute-cartoon-blue-sky-with-cloud-and-sun-background-wallpaper-free-vector.jpg");


    
}

footer span{
    font-weight: bold;
    padding: 20px;
}

/*Estilo del contenedor*/
#contenedor{
    background-color:green;
    width:35%;

}




/*Estilo para el menú 2*/
#menu_2{
    width:120px;
    position:absolute;
    right:0px;
    display: none;
}

#menu_3{
    width: 120px;
    height: 5px;
    overflow: hidden;
    transition: width 2s height 2s;
}

#menu_3:hover{
    position: absolute;
    width: 120px;
    height: 150px;
}
/*Estilo imágenes*/

#img_2{
    display: none; /*El elemento desaparece y no se encuentra en la consola, mientras que con Opacity, simplemente se le asigna una transparencia de cero*/
}


/*Estilo de los íconos*/
.fa-bars, input[type="checkbox"] {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2rem;
    color: white;
    opacity: 0;
    width: 35px;
    height: 35px;
    margin: 0px;
    padding:0px;
}

 
/*Media Queries*/
@media only screen and (max-width:800px){  
    .fa-bars{
        opacity: 1;
    }

    #img_1{
        display: none;
    }
    #img_2{
        display: block;
    }

   
    #contenedor{
        width: 100%;
    }
    #menu_1 ul li{
        opacity: 0;
    }
    input:checked~#menu_2{
        display: block;
    }
    

/*Aplicar estilo cuando el input no está chequeado*/
input:not(:checked)~#img_2{
}


}
@media only screen and (max-width: 600px) {
    #contenedor{
        background-color: aqua;
    }
}
